<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.system.dao.NoticeDao">

  
   <select id="noticeList" resultType="kr.happyjob.study.system.model.NoticeModel">
            /*kr.happyjob.study.sampletest.dao.SampletestDao.search_list7*/
			select no 
			      ,title
			      ,loginID
			      ,DATE_FORMAT(date, '%Y-%m-%d') as date
		   from tb_notice 
		 	<where>
		 	<if test="(search_option != null) and (!search_option.equals(''))">
		 	<choose> 
		 		<when test ="search_option eq 'search_title'.toString()">
		 			and title Like CONCAT('%',#{search_text},'%')
		 			and date BETWEEN#{fromDate} AND #{toDate} 
		 		</when>	 		
		 		<when test ="search_option eq 'search_name'.toString()">
		 			and loginID Like CONCAT('%',#{search_text},'%')
		 			and date BETWEEN#{fromDate} AND #{toDate} 
		 		</when>	 
		 		<otherwise>
		 			and(
		 			title Like CONCAT('%',#{search_text},'%')
		 			or loginID Like CONCAT('%',#{search_text},'%')
		 			)
		 			and date BETWEEN#{fromDate} AND #{toDate} 
		 		</otherwise>		
		 	</choose>
		 	</if>
			</where>
		 	order by no DESC
			limit #{pageindex}, #{pagesize}	
     </select>
   
   <select id="noticeCnt" resultType="int">
            /*kr.happyjob.study.sampletest.dao.SampletestDao.samplepage7listtotcant*/
			select count(no)
		   from tb_notice
		 	<where>
		 	<if test="(search_option != null) and (!search_option.equals(''))">
		 	<choose>	
		 		<when test ="search_option eq 'search_title'.toString()">
		 			and title Like CONCAT('%',#{search_text},'%')
		 			and date BETWEEN #{fromDate} AND #{toDate} 
		 		</when>	 	
		 		<when test ="search_option eq 'search_name'.toString()">
		 			and loginID Like CONCAT('%',#{search_text},'%')
		 			and date BETWEEN#{fromDate} AND #{toDate} 
		 		</when>	 	
		 		<otherwise>
		 			and(
		 			title Like CONCAT('%',#{search_text},'%')
		 			or loginID Like CONCAT('%',#{search_text},'%')
		 			)
		 			and date BETWEEN#{fromDate} AND #{toDate} 
		 		</otherwise>			
		 	</choose>
		 	</if>
			</where>
     </select>  
     
     <select id="noticeSelectOne" resultType="kr.happyjob.study.system.model.NoticeModel">
     		select title
			      ,loginID
			      ,contents
		   from tb_notice 
     	where no = #{no}
     </select>
   
      <insert id="saveInsert">
      	<selectKey resultType="int" keyProperty="no" order="BEFORE">
      	 	SELECT IFNULL(MAX(no),0) + 1 FROM tb_notice 
      	</selectKey>
     		insert 
     		into tb_notice
     							(
     							no
     							,loginID  
     							,title
     							,date
			   					,contents
     							)values(
     							#{no}
     							,#{loginID}
     							,#{title}
     							,NOW()
     							,#{contents}
     							)

     </insert>
   	<update id="saveUpdate">
   		update tb_notice
     		set
     			loginID = #{loginID}
     			,title = #{title}
     			,date = NOW()
			   	,contents = #{contents}
			where no = #{no}
     </update>
     
     
     
     <delete id="deleteNotice">
     		delete from tb_notice
     		where no = #{no}
     
     </delete>
   
</mapper>
